
data/peptides.txt
data/proteinGroups_normalized.txt
data/~$meta.xlsx
data/Nucleus Accumbens/Nucleus Accumbens/peptides.txt
data/Nucleus Accumbens/Nucleus Accumbens/proteinGroups.txt
data/Nucleus Accumbens/Nucleus Accumbens/proteinGroups_filtered.txt
data/Striatum/peptides.txt
data/Striatum/proteinGroups.txt
data/Striatum/proteinGroups_filtered.txt
.Rhistory
savedData.Rdata
figures.R
data/breast cancer/peptides.txt
data/breast cancer/proteinGroups_CycLoess.txt
data/spike-in/Original Paper.url
data/spike-in/archive/proteinGroups_iBAQ_INPUT.txt
data/spike-in/archive/proteinGroups_iBAQ_INPUT_UPSproteins.txt
data/meth/~$meta.xlsx
spiked-in_Spikes.R
savedData_spiked.Rdata
savedData_meth.Rdata
savedData_bccl.Rdata
data/spike-in/spiked-in_normalized.txt
readme/readme.docx
